<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<!-- <hibernate-configuration>   -->
<!--     <session-factory>   -->
<!-- <!--     	Indica que queremos crear las tablas en base de datos. --> -->
<!-- <!--        <property name="hibernate.hbm2ddl.auto">create</property>   --> -->
<!--         <property name="hibernate.show_sql">true</property>   -->
  
<!-- <!--   		<mapping class="com.autentia.store.product.Product"/> --> -->
<!--         <mapping class="services"/>   -->
<!--     </session-factory>   -->
<!-- </hibernate-configuration>   -->